{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommend", "@kurted/eslint"],
  "settings": {
    "import/resolver": {
      "alias": [
        ["~components", "./components"],
        ["~layouts", "./components/layouts"],
        ["~tabs", "./components/tabs"],
        ["~images", "./images"],
        ["~theme", "./theme"]
      ]
    }
  }
}
